.fCard1{
    box-sizing: border-box;

width: 68px;
height: 29px;
left: 85px;
top: 2733px;

background: #FFF6F6;
border: 1px solid #000000;
border-radius: 10px;
}

.fCard2{
    box-sizing: border-box;


width: 68px;
height: 29px;
left: 168px;
top: 2733px;

background: #FFF6F6;
border: 1px solid #000000;
border-radius: 10px;
}
.fCard3{box-sizing: border-box;

    
    width: 68px;
    height: 29px;
    left: 251px;
    top: 2733px;
    
    background: #FFF6F6;
    border: 1px solid #000000;
    border-radius: 10px;

}
.fCard4{box-sizing: border-box;

    
    width: 68px;
    height: 29px;
    left: 334px;
    top: 2733px;
    
    background: #FFF6F6;
    border: 1px solid #000000;
    border-radius: 10px;

}
.fCard5{box-sizing: border-box;

    
    width: 68px;
    height: 29px;
    left: 85px;
    top: 2777px;
    
    background: #FFF6F6;
    border: 1px solid #000000;
    border-radius: 10px;

}
.fCard6{
    box-sizing: border-box;

    
    width: 68px;
    height: 29px;
    left: 168px;
    top: 2777px;
    
    background: #FFF6F6;
    border: 1px solid #000000;
    border-radius: 10px;
}
.fCard7{box-sizing: border-box;

    
    width: 68px;
    height: 29px;
    left: 251px;
    top: 2777px;
    
    background: #FFF6F6;
    border: 1px solid #000000;
    border-radius: 10px;

}
.fCard8{

    box-sizing: border-box;

    
    width: 68px;
    height: 29px;
    left: 334px;
    top: 2777px;
    
    background: #FFF6F6;
    border: 1px solid #000000;
    border-radius: 10px;
}